/* Body */

body {

    text-align: center;
    background-color: #F5DEB3;
    font-family: 'Quattrocento', serif;
    color: #4E4E4E;

}


/* Heading */

.heading {

    font-family: 'Playfair Display', serif;
    font-size: 3rem;

}


/* Game Area Styling */

.game-area {

    background-color: rgba(255, 140, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #8B4513;
    border-radius: 20px;

}

/* Question Area Styling */

.question-area {

    padding: 1rem;
    text-align: center;

}


/* Answer Text Styling */

.answer-text {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.answer-text p {

    margin: 0.5rem 0;

}


/* Answer Button */

.answer-btn-box {

    display: flex;
    align-items: center;
    justify-content: center;

}

.answer-btn-box button {
    background-color: lightgreen;
    border: 1px solid #8B4513;
    border-radius: 4px;
    width: 100%;
    color: #4E4E4E;
}


/* Score Area */

.score-area {

    padding: 0.5rem;
    text-align: center;

}

/* For screens 600px or smaller */
@media (max-width: 600px) {
    .game-area {
      width: 90%;
      margin: 0 auto;
    }
    .answer-btn-box {
        flex-wrap: wrap;
    }
    .answer-btn-box button {
      width: 100%;
      margin-bottom: 10px;
    }
    .heading {
        font-size: 2rem;
    }
  }
  
  /* For screens larger than 600px */
  @media (min-width: 601px) {
    .game-area {
      width: 40%;
      margin: 0 auto;
    }
    .answer-btn-box {
        flex-wrap: nowrap;
    }
    .answer-btn-box button {
      width: 30%;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .answer-btn-box button:last-child {
      margin-right: 0;
    }
  }