/* Body */

body {

    text-align: center;
    background-color: #F5DEB3;
    font-family: 'Quattrocento', serif;
    color: #4E4E4E;

}

/* Heading */

.heading {

    font-family: 'Playfair Display', serif;

}

/* Question Area */

.question-area {

    background-color: yellow;

}

/* Answer Text */

.answer-text {

    background-color: lightblue;

}

/* Answer Button */

.answer-btn-box {

    background-color: lightpink;

}

/* Score Area */

.score-area {

    background-color: lightgreen;

}