/* Body */

body {

    text-align: center;
    background-color: #F5DEB3;
    font-family: 'Quattrocento', serif;
    color: #4E4E4E;

}


/* Heading */

.heading {

    font-family: 'Playfair Display', serif;

}


/* Game Area Styling */

.game-area {

    background-color: #FF8C00;

}

/* Question Area Styling */

.question-area {

    background-color: yellow;

}


/* Answer Text Styling */

.answer-text {

    background-color: lightblue;

}


/* Answer Button */

.answer-btn-box {

    background-color: lightpink;

}


/* Score Area */

.score-area {

    background-color: lightgreen;

}

/* For screens 600px or smaller */
@media (max-width: 600px) {
    .game-area {
      width: 90%;
    }
    .answer-btn-box button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  /* For screens larger than 600px */
  @media (min-width: 601px) {
    .game-area {
      width: 40%;
      margin: 0 auto;
    }
    .answer-btn-box button {
      width: 30%;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .answer-btn-box button:last-child {
      margin-right: 0;
    }
  }